In [1]:
import requests
import pandas as pd
import numpy as np
import ast
import glob
import json
import ndjson
from time import sleep

In [2]:
def extract_id_from_movie_list(start_release_date, end_release_date):
    url = 'https://api.themoviedb.org/3/discover/movie?language=en-US&page=1&primary_release_date.gte=' \
    + start_release_date + '&primary_release_date.lte=' + end_release_date + '&sort_by=primary_release_date.desc&with_release_type=3\
    &with_origin_country=CA%7CUS%7CPR'
    headers = {
        "accept": "application/json",
        "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI5ODJmYTNkYWU1OGY4Y2U1ZmU2M2Q1NmI5Njk2ZDk2MCIsInN1YiI6IjY1ZmQ1ZjRlMjI2YzU2MDE2NDZlZGU2NCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.9KniXks8_611yzqRn1AsGD6mKOhtD2bJ6twLrH8FoUo"
        }
    
    response = requests.get(url, headers=headers)
    data_dict = json.loads(response.text)
    
    # Extract 'id' from 'results'
    ids = pd.DataFrame.from_dict(data_dict['results'])[['id']]
    
    # Extract total_pages from first page
    total_pages = data_dict['total_pages'] + 1
    print('total_pages: ' + str(total_pages - 1))
    
    if total_pages > 2:
        for page in range (2, total_pages):
            url = 'https://api.themoviedb.org/3/discover/movie?language=en-US&page=' + str(page) + '&primary_release_date.gte=' \
            + start_release_date + '&primary_release_date.lte=' + end_release_date + '&sort_by=primary_release_date.desc&with_release_type=3'
            response = requests.get(url, headers=headers)
            data_dict = json.loads(response.text)
            try:
                # Extract 'id' from 'results' and concat
                add_ids = pd.DataFrame.from_dict(data_dict['results'])[['id']]
                ids = pd.concat([ids, add_ids], ignore_index=True)
            except KeyError:
                print("KeyError occurred!")
                print("Contents of data_dict:", data_dict)
    return ids

In [11]:
#Extract ids
#Per 3 months as there is a maximum of 500 pages in each search

#movie_ids_Mar20 = extract_id_from_movie_list('2020-01-01', '2020-03-31')
#movie_ids_Jun20 = extract_id_from_movie_list('2020-04-01', '2020-06-30')
#movie_ids_Sep20 = extract_id_from_movie_list('2020-07-01', '2020-09-30')
#movie_ids_Nov20 = extract_id_from_movie_list('2020-10-01', '2020-11-30')
#movie_ids_Dec20 = extract_id_from_movie_list('2020-12-01', '2020-12-31')

#movie_ids_Mar21 = extract_id_from_movie_list('2021-01-01', '2021-03-31')
#movie_ids_Jun21 = extract_id_from_movie_list('2021-04-01', '2021-06-30')
#movie_ids_Sep21 = extract_id_from_movie_list('2021-07-01', '2021-09-30')
#movie_ids_Nov21 = extract_id_from_movie_list('2021-10-01', '2021-11-30')
#movie_ids_Dec21 = extract_id_from_movie_list('2021-12-01', '2021-12-31')

#movie_ids_Mar22 = extract_id_from_movie_list('2022-01-01', '2022-03-31')
#movie_ids_Jun22 = extract_id_from_movie_list('2022-04-01', '2022-06-30')
#movie_ids_Sep22 = extract_id_from_movie_list('2022-07-01', '2022-09-30')
#movie_ids_Nov22 = extract_id_from_movie_list('2022-10-01', '2022-11-30')
#movie_ids_Dec22 = extract_id_from_movie_list('2022-12-01', '2022-12-31')

# movie_ids_Mar23 = extract_id_from_movie_list('2023-01-01', '2023-03-31')
# movie_ids_Jun23 = extract_id_from_movie_list('2023-04-01', '2023-06-30')
# movie_ids_Sep23 = extract_id_from_movie_list('2023-07-01', '2023-09-30')
# movie_ids_Nov23 = extract_id_from_movie_list('2023-10-01', '2023-11-30')
# movie_ids_Dec23 = extract_id_from_movie_list('2023-12-01', '2023-12-31')

# movie_ids_2024 = extract_id_from_movie_list('2024-01-01', '2024-02-29')

total_pages: 189

In [12]:
movie_ids = pd.concat([movie_ids_Mar20, movie_ids_Jun20, movie_ids_Sep20, movie_ids_Nov20, movie_ids_Dec20,
                       movie_ids_Mar21, movie_ids_Jun21, movie_ids_Sep21, movie_ids_Nov21, movie_ids_Dec21,
                       movie_ids_Mar22, movie_ids_Jun22, movie_ids_Sep22, movie_ids_Nov22, movie_ids_Dec22,
                       movie_ids_Mar23, movie_ids_Jun23, movie_ids_Sep23, movie_ids_Nov23, movie_ids_Dec23,
                       movie_ids_2024], ignore_index=True)

In [14]:
# File path to save the CSV
csv_file_path = "./movie_ids.csv"

# Save the DataFrame to a CSV file
movie_ids.to_csv(csv_file_path, index=False)

In [191]:
# def clean_movie_details(df):
#     selected_columns = ['adult', 'budget', 'id', 'imdb_id', 'original_language', 'original_title', 'popularity', 'release_date',
#                     'revenue', 'runtime', 'status', 'vote_average', 'vote_count',
#                    ]
    
#     final_data = {
#         'production_companies_count': [],
#         'is_adaptation': [],
#         'genres': [],
#         'collection_id': [],
#         'cast1_id': [],
#         'cast2_id': [],
#         'director_id': [],
#         'producer_id': [],
#         'video_key_id': [],
#         'is_released_in_cinema': []
#     }
    
#     for index, row in df.iterrows():
#         print(index)
#         # Release_dates OK
#         is_released_in_cinema = 0
#         is_continue = True
        
#         release_dates_results = []
#         if not pd.isna(row['release_dates_results']):
#             if isinstance(ast.literal_eval(row['release_dates_results']), str):
#                 release_dates_results = release_dates_results.append(ast.literal_eval(row['release_dates_results']))
#             else: 
#                 release_dates_results = ast.literal_eval(row['release_dates_results'])
                
#             for release in release_dates_results:
#                 if is_continue:
#                     for date in (release["release_dates"]):
#                         if date['type'] == 3:
#                             is_released_in_cinema = 1
#                             is_continue = False
#                             break
#                         else:
#                             continue
#                 else:
#                     break
        
#         final_data['is_released_in_cinema'].append(is_released_in_cinema)
        
#         # Collection OK
#         final_data['collection_id'].append(row['belongs_to_collection_id'])
        
#         # Production Companies Count OK
#         if not pd.isna(row['production_companies']):
#             final_data['production_companies_count'].append(len(ast.literal_eval(row['production_companies'])))
#         else:
#             final_data['production_companies_count'].append(0)
        
#         # Genres OK
#         if not pd.isna(row['genres']):
#             genre_lst = [i['name']for i in ast.literal_eval(row['genres'])]
#             final_data['genres'].append(genre_lst)
#         else:
#             final_data['genres'].append(None)
        
#         # Cast OK
#         if not pd.isna(row['credits_cast']):
#             num_of_cast = len(ast.literal_eval(row['credits_cast']))
#             credit_cast = ast.literal_eval(row['credits_cast'])
#             if num_of_cast >= 2:
#                 print(credit_cast[0])
#                 final_data['cast1_id'].append(str(credit_cast[0]['id']))
#                 final_data['cast2_id'].append(str(credit_cast[1]['id']))
#             elif num_of_cast == 1:
#                 final_data['cast1_id'].append(str(credit_cast[0]['id']))
#                 final_data['cast2_id'].append(None)
#             else:
#                 final_data['cast1_id'].append(None)
#                 final_data['cast2_id'].append(None)
        
#         # Crews OK
#         director_id = None
#         producer_id = None
#         if not pd.isna(row['credits_crew']):
#             for job in [ast.literal_eval(row['credits_crew'])]:
#                 if job['job'] == 'Director':
#                     director_id = str(job['id'])
#                 elif job['job'] == 'Producer':
#                     producer_id = str(job['id'])

#         final_data['director_id'].append(director_id)
#         final_data['producer_id'].append(producer_id)
                
#         # Videos OK
#         if not pd.isna(row['videos_results']):
#             video_key_id = []
#             for video in [(ast.literal_eval(row['videos_results']))]:
#                 if video['type'] == "Trailer" or  video['type'] == "site" or  video['type'] == "Youtube":
#                     video_key_id.append((video['key'] + "__" + video['id']))
#                 else:
#                     continue
#             final_data['video_key_id'].append(video_key_id) 
#         else:
#             final_data['video_key_id'].append(None)
            
#         # Keywords OK
#         if not pd.isna(row['keywords_keywords']):
#             keyword_lst = [i['name']for i in [ast.literal_eval(row['keywords_keywords'])]]
#             contains_based_on = any('based on' in (item).lower() for item in keyword_lst)
#             final_data['is_adaptation'].append(1 if contains_based_on == True else 0)
#         else:
#             final_data['is_adaptation'].append(0)
        
#     print(final_data)
        
#     final_df = df[selected_columns]
#     final_df_2 = pd.DataFrame(final_data)
    
#     final_df = pd.concat([final_df, final_df_2], axis = 1) #Merge
    
# #     return final_df

# Extract Raw Details

In [6]:
def extract_raw_movie_details(df, file_path):
    headers = {
        "accept": "application/json",
        "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI5ODJmYTNkYWU1OGY4Y2U1ZmU2M2Q1NmI5Njk2ZDk2MCIsInN1YiI6IjY1ZmQ1ZjRlMjI2YzU2MDE2NDZlZGU2NCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.9KniXks8_611yzqRn1AsGD6mKOhtD2bJ6twLrH8FoUo"
        }
    final_df = []

    delay = 1
    for index, row in df.iterrows():
        id_value = row['id']
        url = f'https://api.themoviedb.org/3/movie/{id_value}?append_to_response=credits,videos,release_dates,keywords&language=en-US'
        try:                
            # Make the request
            sleep(0.02)
            response = requests.get(url, headers=headers)
            data_dict = json.loads(response.text)
            final_df.append(data_dict)
            
        except OSError as e:
            # Delay for a certain amount of time before making the request again
            # so that the server isn't overloaded
            sleep(delay)
            delay *= 2
            
    with open(file_path, 'w') as ndjson_file:
        ndjson_file.write('\n'.join(map(json.dumps, final_df)))
    
    return ndjson_file

In [ ]:
# Read movie_ids
movie_ids = pd.read_csv('movie_ids.csv')
print(len(movie_ids))

# Get details
#raw_movie_details_1 = extract_raw_movie_details(movie_ids[:2500], "raw_movie_details_01.ndjson")
raw_movie_details_2 = extract_raw_movie_details(movie_ids[2500:5000], "raw_movie_details_02.ndjson")
#raw_movie_details_3 = extract_raw_movie_details(movie_ids[5000:7500], "raw_movie_details_03.ndjson")

# Help :D
#raw_movie_details_4 = extract_raw_movie_details(movie_ids[7500:10000], "raw_movie_details_04.ndjson") 
#raw_movie_details_5 = extract_raw_movie_details(movie_ids[1000:12500], "raw_movie_details_05.ndjson")

#raw_movie_details_6 = extract_raw_movie_details(movie_ids[7500:10000], "raw_movie_details_06.ndjson") 
#raw_movie_details_7 = extract_raw_movie_details(movie_ids[1000:12500], "raw_movie_details_07.ndjson")

#  with open("foo.ndjson", "a") as jf:
#      print(json.dumps(object_goes_here, separators=(',',':')), file=jf)

61580

# Clean Details

In [73]:
# Read ndjson file
file_path = './output.ndjson'

with open(file_path, "r") as json_file:
    df = ndjson.load(json_file)

False

In [16]:
def clean_movie_details(movies): #Input is in json
    selected_columns = ['budget', 'imdb_id', 'original_language', 'original_title', 'release_date',
                    'revenue', 'runtime', 'status']
    
    final_data = {
    'movie_id': [],
    'original_title': [],
    'original_language': [],
    'imdb_id': [],
    'revenue': [],
    'budget': [],
    'release_date': [],
    'runtime': [],
    'status': [],
    'production_companies_count': [],
    'is_adult': [],
    'is_adaptation': [],
    'genres': [],
    'collection_id': [],
    'cast1_id': [],
    'cast2_id': [],
    'director_id': [],
    'producer_id': [],
    'video_key_id': [],
    'tmdb_popularity': [],
    'tmdb_vote_average': [],
    'tmdb_vote_count': []
    }
    
    cnt = 0
    for row in movies:
        # Release_dates OK
        is_released_in_cinema = 0
        is_continue = True
        try:
            if not pd.isna(row['release_dates']):
                for release in row['release_dates']['results']:
                    if is_continue:
                        for date in (release["release_dates"]):
                            if date['type'] == 3:
                                is_released_in_cinema = 1
                                is_continue = False
                                break
                            else:
                                continue
                    else:
                        break
        except:
            continue
        
        if is_released_in_cinema == 0:
            continue #skip this movie
            
        final_data['movie_id'].append(row['id'])
        final_data['is_adult'].append(0 if row['adult'] == False else 1)
        final_data['tmdb_popularity'].append(row['popularity'])
        final_data['tmdb_vote_average'].append(row['vote_average'])
        final_data['tmdb_vote_count'].append(row['vote_count'])
        
        for col in selected_columns:
            final_data[col].append(row[col])
        
        # Collection OK
        final_data['collection_id'].append(None if pd.isna(row['belongs_to_collection']) else row['belongs_to_collection']['id'])
        
        # Production Companies Count OK
        final_data['production_companies_count'].append(len((row['production_companies'])))
        
        # Genres OK
        genre_lst = [i['name']for i in row['genres']]
        final_data['genres'].append(None if len(genre_lst) == 0 else genre_lst)
        
        # Cast OK
        num_of_cast = len(row['credits']['cast'])
        credit_cast = (row['credits']['cast'])
        if num_of_cast >= 2:
            final_data['cast1_id'].append(str(credit_cast[0]['id']))
            final_data['cast2_id'].append(str(credit_cast[1]['id']))
        elif num_of_cast == 1:
            final_data['cast1_id'].append(str(credit_cast[0]['id']))                
            final_data['cast2_id'].append(None)
        else:                   
            final_data['cast1_id'].append(None)
            final_data['cast2_id'].append(None)
        
        # Crews OK
        director_id = None
        producer_id = None
        for job in (row['credits']['crew']):
            if job['job'] == 'Director':
                director_id = str(job['id'])
            elif job['job'] == 'Producer':
                producer_id = str(job['id'])

        final_data['director_id'].append(director_id)
        final_data['producer_id'].append(producer_id)
                
        # Videos #empty list
        video_key_id = []
        if len(row['videos']['results']) > 0:
            for video in (row['videos']['results']):
                if video['type'] == "Trailer" or  video['type'] == "site" or  video['type'] == "Youtube":
                        video_key_id.append((video['key'] + "__" + video['id']))
                else:
                    continue
            final_data['video_key_id'].append(video_key_id) 
        else:
            final_data['video_key_id'].append(None)
            
        # Keywords OK
        if len(row['keywords']['keywords']) > 0:
            keyword_lst = [i['name']for i in (row['keywords']['keywords'])]
            contains_based_on = any('based on' in (item).lower() for item in keyword_lst)
            final_data['is_adaptation'].append(1 if contains_based_on == True else 0)
        else:
            final_data['is_adaptation'].append(0)
            
        cnt += 1
        
#     print(final_data)
    final_df = pd.DataFrame(final_data)
    
    # Change language to its full form
    lang_url = 'https://api.themoviedb.org/3/configuration/languages'
    headers = {
        "accept": "application/json",
        "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI5ODJmYTNkYWU1OGY4Y2U1ZmU2M2Q1NmI5Njk2ZDk2MCIsInN1YiI6IjY1ZmQ1ZjRlMjI2YzU2MDE2NDZlZGU2NCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.9KniXks8_611yzqRn1AsGD6mKOhtD2bJ6twLrH8FoUo"
        }
    
    # Change language to its full form
    lang_response = requests.get(lang_url, headers=headers)
    lang_dict = json.loads(lang_response.text)
    lang_df = pd.DataFrame.from_dict(lang_dict)
    final_df = pd.merge(final_df, lang_df[['iso_639_1', 'english_name']], left_on='original_language', right_on='iso_639_1', how='left')
    
    #drop 'original_language', 'iso_639_1'
    final_df = final_df.drop(columns=['original_language', 'iso_639_1'])
    # Rename english_name to original_language
    final_df = final_df.rename(columns={'english_name': 'original_language'})
    
    return final_df

In [ ]:
with open ("sample-json-data.json", "w") as jsonwrite:
    for item in list_dict:
        jsonwrite.write(json.dumps(item) + '\n')     #newline delimited json file

In [58]:
details

In [48]:
# Save the JSON to a file
file_path = './raw_movie_details_2024_1.json'
with open(file_path, "w") as json_file:
    json.dump(final_output, json_file, indent=4)

In [52]:
file_path = './raw_movie_details_2024_1.json'

output = extract_raw_movie_details(df_2024[:50])
with open(file_path, "w") as json_file:
    json.dump(final_output, json_file)

NameError: name 'json_array' is not defined

In [34]:
clean_movie_details_2024 = clean_movie_details(final_output)
clean_movie_details_2024

,movie_id,original_title,imdb_id,revenue,budget,release_date,runtime,status,production_companies_count,is_adult,...,collection_id,cast1_id,cast2_id,director_id,producer_id,video_key_id,tmdb_popularity,tmdb_vote_average,tmdb_vote_count,original_language
0,1257842,Classe que Derreteu,None,0,800,2024-02-29,0,Released,1,0,...,NaN,3783139,4576888,4576888,None,None,1.160,0.000,0,Portuguese
1,1256977,823-й километр,None,0,0,2024-02-29,0,Released,1,0,...,NaN,2990665,4475638,4583573,4583575,None,1.400,0.000,0,Russian
2,1256662,This Is Real Love,tt27214982,0,500,2024-02-29,20,Released,0,0,...,NaN,4582212,4582214,4582218,None,[TueJA6N1zBg__65ec979ab7d3520162e592d3],1.188,7.000,1,English
3,1254552,Naenda Mjini,None,0,0,2024-02-29,0,Released,1,0,...,NaN,None,None,4573755,None,None,0.866,0.000,0,Swahili
4,1254085,Superžena,tt24055994,0,0,2024-02-29,0,Released,1,0,...,NaN,1606457,1247355,1606457,None,None,1.720,0.000,0,Czech
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1417,1004096,Холоп 2,tt20721318,0,0,2024-01-01,119,Released,6,0,...,1254256.0,226139,29838,143696,4199993,None,5.278,6.595,37,Russian
1418,900439,Qazaq,,0,0,2024-01-01,113,Released,1,0,...,NaN,1934446,1675864,1675864,3640452,[28zoa0-EE5s__622a9245d236e6006dfaf166],0.869,0.000,0,English
1419,846579,Vidra,None,0,0,2024-01-01,0,Released,6,0,...,NaN,None,None,1030481,1363653,None,1.151,0.000,0,Serbian
1420,840069,Attraction 3,None,0,0,2024-01-01,0,Released,0,0,...,604246.0,1633339,1466347,80999,None,None,11.691,0.000,0,Russian
1421,440775,Galaxy of Horrors,tt6188002,0,0,2024-01-01,105,Released,3,0,...,NaN,1033064,588323,1771968,None,[fXgQpQG-GnE__58ae47fdc3a3683c36004126],2.895,0.000,0,English

In [59]:
clean_movie_details_2024.to_csv('./clean_movie_details_2024.csv', index = False)

In [ ]:
final_clean_df_2024 = clean_movies(final_df)

In [57]:
final_clean_df_2024.to_csv('./clean_movie_2024.csv', index=False)

NameError: name 'final_clean_df_2024' is not defined

In [ ]:
# Find all CSV files starting with "movie_ids"
file_pattern = 'movie_ids*.csv'
csv_files = glob.glob(file_pattern)

batch_size = 250
final_clean_movie = pd.DataFrame()

# Open each CSV file and read it into a DataFrame
for csv_file in csv_files:
    df = pd.read_csv(csv_file)
    for i in range(0, len(df), batch_size):
    batch = df.iloc[i:i+batch_size]
    details = extract_movie_details(batch)
    final_movies = pd.concat([final_movies, clean_movie], ignore_index=True)
    
final_clean_movie = clean_movie = clean_movie(final_movies)

In [2]:
raw_sample_csv =  pd.read_csv('raw_sample_df.csv')

# People

In [102]:
def extract_people(movies):
    headers = {
        "accept": "application/json",
        "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI5ODJmYTNkYWU1OGY4Y2U1ZmU2M2Q1NmI5Njk2ZDk2MCIsInN1YiI6IjY1ZmQ1ZjRlMjI2YzU2MDE2NDZlZGU2NCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.9KniXks8_611yzqRn1AsGD6mKOhtD2bJ6twLrH8FoUo"
        }
    cast1_id = movies['cast1_id'].dropna().tolist()
    cast2_id = movies['cast2_id'].dropna().tolist()
    director_id = movies['director_id'].dropna().tolist()
    producer_id = movies['producer_id'].dropna().tolist()
    people_id_lst = set(cast1_id + cast2_id + director_id + producer_id) #remove duplicate

    people_info = pd.DataFrame()
    
    name_lst = []
    bir_lst = []
    gender_lst = []
    pop = []
    cast_credits = []
    crew_credits = []
    known = []

    for id_ in people_id_lst:
        id_ = str(int(id_))
        url = f"https://api.themoviedb.org/3/person/{id_}?append_to_response=movie_credits&language=en-US"
        response = requests.get(url, headers=headers)
        data = json.loads(response.text)
        try:
            name = data['name']
        except KeyError:
            name = None
        name_lst.append(name)
        try:
            birthday = data['birthday']
        except KeyError:
            birthday = None
        bir_lst.append(birthday)
        try:
            gender = data['gender']
        except KeyError:
            gender = None
        gender_lst.append(gender)
        try:
            tmdb_popularity = data['popularity']
        except KeyError:
            tmdb_popularity = None
        pop.append(tmdb_popularity)
        try:
            known_for = data['known_for_department']
        except KeyError:
            known_for = None
        known.append(known_for)
        # Number of credits
        try:
            cast_num = len(data['movie_credits']["cast"])
        except KeyError:
            cast_num = 0
        cast_credits.append(cast_num)
        try:
            crew_num = len(data['movie_credits']["crew"])
        except KeyError:
            crew_num = 0
        crew_credits.append(crew_num)
    
    people_info['people_id'] = people_id_lst
    people_info['name'] = name_lst
    people_info['birthday'] = bir_lst
    people_info['gender'] = gender_lst
    people_info['tmdb_popularity'] = pop
    people_info['known_for'] = known
    people_info['total_number_cast_credits'] = cast_credits
    people_info['total_number_crew_credits'] = crew_credits
    
    return people_info

In [94]:
cast1_id = clean_movie['cast1_id'].dropna().tolist()
cast2_id = clean_movie['cast2_id'].dropna().tolist()
director_id = clean_movie['director_id'].dropna().tolist()
producer_id = clean_movie['producer_id'].dropna().tolist()
people_id_lst = set(cast1_id + cast2_id + director_id + producer_id) #remove duplicate
len(people_id_lst)

4018

In [103]:
clean_movie = pd.read_csv('clean_movie_details_2024.csv')
people = extract_people(clean_movie)

In [104]:
people

,people_id,name,birthday,gender,tmdb_popularity,known_for,total_number_cast_credits,total_number_crew_credits
0,50.0,Catherine Deneuve,1943-10-22,1,2.744,Acting,202,2
1,85.0,Johnny Depp,1963-06-09,2,2.744,Acting,145,18
2,110.0,Viggo Mortensen,1958-10-20,2,2.744,Acting,77,12
3,114.0,Orlando Bloom,1977-01-13,2,2.744,Acting,58,5
4,165.0,Knut Berger,1975-01-01,2,1.788,Acting,22,0
...,...,...,...,...,...,...,...,...
4013,4608948.0,Виталий Бобков,None,0,0.600,Acting,1,0
4014,4608949.0,Михаил Микоц,None,0,0.600,Directing,0,1
4015,4610455.0,Petr Yakovlev,None,0,0.600,Directing,0,1
4016,4614361.0,Megan Kasabian,None,0,0.600,Directing,0,2
4017,4614363.0,Sam Morris,None,0,0.600,Directing,0,1

In [105]:
people.to_csv('./people_info.csv', index = False)