In [1]:
import requests
import pandas as pd
import numpy as np
import ast
import glob
import json
import ndjson
from time import sleep

In [2]:
def extract_id_from_movie_list(start_release_date, end_release_date):
    url = 'https://api.themoviedb.org/3/discover/movie?language=en-US&page=1&primary_release_date.gte=' \
    + start_release_date + '&primary_release_date.lte=' + end_release_date + '&sort_by=primary_release_date.desc&with_release_type=3'
    headers = {
        "accept": "application/json",
        "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI5ODJmYTNkYWU1OGY4Y2U1ZmU2M2Q1NmI5Njk2ZDk2MCIsInN1YiI6IjY1ZmQ1ZjRlMjI2YzU2MDE2NDZlZGU2NCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.9KniXks8_611yzqRn1AsGD6mKOhtD2bJ6twLrH8FoUo"
        }
    
    response = requests.get(url, headers=headers)
    data_dict = json.loads(response.text)
    
    # Extract 'id' from 'results'
    ids = pd.DataFrame.from_dict(data_dict['results'])[['id']]
    
    # Extract total_pages from first page
    total_pages = data_dict['total_pages'] + 1
    print('total_pages: ' + str(total_pages - 1))
    
    if total_pages > 2:
        for page in range (2, total_pages):
            url = 'https://api.themoviedb.org/3/discover/movie?language=en-US&page=' + str(page) + '&primary_release_date.gte=' \
            + start_release_date + '&primary_release_date.lte=' + end_release_date + '&sort_by=primary_release_date.desc&with_release_type=3'
            response = requests.get(url, headers=headers)
            data_dict = json.loads(response.text)
            try:
                # Extract 'id' from 'results' and concat
                add_ids = pd.DataFrame.from_dict(data_dict['results'])[['id']]
                ids = pd.concat([ids, add_ids], ignore_index=True)
            except KeyError:
                print("KeyError occurred!")
                print("Contents of data_dict:", data_dict)
    return ids

In [11]:
#Extract ids
#Per 3 months as there is a maximum of 500 pages in each search
#movie_ids_Mar1319 = extract_id_from_movie_list('2013-01-01', '2019-12-31')

#movie_ids_Mar20 = extract_id_from_movie_list('2020-01-01', '2020-03-31')
#movie_ids_Jun20 = extract_id_from_movie_list('2020-04-01', '2020-06-30')
#movie_ids_Sep20 = extract_id_from_movie_list('2020-07-01', '2020-09-30')
#movie_ids_Nov20 = extract_id_from_movie_list('2020-10-01', '2020-11-30')
#movie_ids_Dec20 = extract_id_from_movie_list('2020-12-01', '2020-12-31')

#movie_ids_Mar21 = extract_id_from_movie_list('2021-01-01', '2021-03-31')
#movie_ids_Jun21 = extract_id_from_movie_list('2021-04-01', '2021-06-30')
#movie_ids_Sep21 = extract_id_from_movie_list('2021-07-01', '2021-09-30')
#movie_ids_Nov21 = extract_id_from_movie_list('2021-10-01', '2021-11-30')
#movie_ids_Dec21 = extract_id_from_movie_list('2021-12-01', '2021-12-31')

#movie_ids_Mar22 = extract_id_from_movie_list('2022-01-01', '2022-03-31')
#movie_ids_Jun22 = extract_id_from_movie_list('2022-04-01', '2022-06-30')
#movie_ids_Sep22 = extract_id_from_movie_list('2022-07-01', '2022-09-30')
#movie_ids_Nov22 = extract_id_from_movie_list('2022-10-01', '2022-11-30')
#movie_ids_Dec22 = extract_id_from_movie_list('2022-12-01', '2022-12-31')

# movie_ids_Mar23 = extract_id_from_movie_list('2023-01-01', '2023-03-31')
# movie_ids_Jun23 = extract_id_from_movie_list('2023-04-01', '2023-06-30')
# movie_ids_Sep23 = extract_id_from_movie_list('2023-07-01', '2023-09-30')
# movie_ids_Nov23 = extract_id_from_movie_list('2023-10-01', '2023-11-30')
# movie_ids_Dec23 = extract_id_from_movie_list('2023-12-01', '2023-12-31')

# movie_ids_2024 = extract_id_from_movie_list('2024-01-01', '2024-02-29')

total_pages: 189

In [12]:
movie_ids = pd.concat([movie_ids_Mar1319, movie_ids_Mar20, movie_ids_Jun20, movie_ids_Sep20, movie_ids_Nov20, movie_ids_Dec20,
                       movie_ids_Mar21, movie_ids_Jun21, movie_ids_Sep21, movie_ids_Nov21, movie_ids_Dec21,
                       movie_ids_Mar22, movie_ids_Jun22, movie_ids_Sep22, movie_ids_Nov22, movie_ids_Dec22,
                       movie_ids_Mar23, movie_ids_Jun23, movie_ids_Sep23, movie_ids_Nov23, movie_ids_Dec23,
                       movie_ids_2024], ignore_index=True)

In [14]:
# File path to save the CSV
csv_file_path = "./movie_ids.csv"

# Save the DataFrame to a CSV file
movie_ids.to_csv(csv_file_path, index=False)

# Extract Raw Details

In [30]:
def extract_raw_movie_details(df, file_path):
    headers = {
        "accept": "application/json",
        "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI5ODJmYTNkYWU1OGY4Y2U1ZmU2M2Q1NmI5Njk2ZDk2MCIsInN1YiI6IjY1ZmQ1ZjRlMjI2YzU2MDE2NDZlZGU2NCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.9KniXks8_611yzqRn1AsGD6mKOhtD2bJ6twLrH8FoUo"
        }
    final_df = []

    delay = 1
    for index, row in df.iterrows():
        id_value = row['id']
        url = f'https://api.themoviedb.org/3/movie/{id_value}?append_to_response=credits,videos,release_dates,keywords&language=en-US'
        try:                
            # Make the request
            sleep(0.02)
            response = requests.get(url, headers=headers)
            data_dict = json.loads(response.text)
            final_df.append(data_dict)
            
        except OSError as e:
            # Delay for a certain amount of time before making the request again
            # so that the server isn't overloaded
            sleep(delay)
            delay *= 2
            
    with open(file_path, 'w') as ndjson_file:
        ndjson_file.write('\n'.join(map(json.dumps, final_df)))
    
    return ndjson_file

In [ ]:
# Read movie_ids
movie_ids = pd.read_csv('movie_ids.csv')
print(len(movie_ids))

# Get details
#raw_movie_details_1 = extract_raw_movie_details(movie_ids[:2500], "raw_movie_details_01.ndjson")
#raw_movie_details_2 = extract_raw_movie_details(movie_ids[2500:5000], "raw_movie_details_02.ndjson")
#raw_movie_details_3 = extract_raw_movie_details(movie_ids[5000:7500], "raw_movie_details_03.ndjson")

# Help :D
#raw_movie_details_4 = extract_raw_movie_details(movie_ids[7500:10000], "raw_movie_details_04.ndjson") 
#raw_movie_details_5 = extract_raw_movie_details(movie_ids[1000:12500], "raw_movie_details_05.ndjson")

counter = 1
for i in range (0, len(movie_ids), 2500):
    file_path = f"raw_movie_details_0{str(counter)}.ndjson"
    raw_movie_details = extract_raw_movie_details(movie_ids[i:i+2500], file_path) 
    counter += 1
    
#raw_movie_details_6 = extract_raw_movie_details(movie_ids[7500:10000], "raw_movie_details_06.ndjson") 
#raw_movie_details_7 = extract_raw_movie_details(movie_ids[1000:12500], "raw_movie_details_07.ndjson")

#  with open("foo.ndjson", "a") as jf:
#      print(json.dumps(object_goes_here, separators=(',',':')), file=jf)

In [43]:
#tmdb_kaggle = pd.read_csv('TMDB_movie_dataset_v11.csv')
tmdb_kaggle['release_date'] = pd.to_datetime(tmdb_kaggle['release_date'])
movie_id_2013_2015 = tmdb_kaggle[(tmdb_kaggle['release_date'] <= "2015-12-31") & (tmdb_kaggle['release_date'] >= "2013-01-01") &
           (tmdb_kaggle['revenue'] > 0)]
movie_id_2013_2015

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,backdrop_path,...,original_language,original_title,overview,popularity,poster_path,tagline,genres,production_companies,production_countries,spoken_languages
1,157336,Interstellar,8.417,32571,Released,2014-11-05,701729206,169,False,/pbrkL804c8yAv3zBZR4QPEafpAR.jpg,...,en,Interstellar,The adventures of a group of explorers who mak...,140.241,/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,Mankind was born on Earth. It was never meant ...,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",English
8,118340,Guardians of the Galaxy,7.906,26638,Released,2014-07-30,772776600,121,False,/uLtVbjvS1O7gXL8lUOwsFOH4man.jpg,...,en,Guardians of the Galaxy,"Light years from Earth, 26 years after being a...",33.255,/r7vmZjiyZw9rpJMQJdXpjgiCOk9.jpg,All heroes start somewhere.,"Action, Science Fiction, Adventure",Marvel Studios,United States of America,English
22,106646,The Wolf of Wall Street,8.035,22222,Released,2013-12-25,392000000,180,False,/63y4XSVTZ7mRzAzkqwi3o0ajDZZ.jpg,...,en,The Wolf of Wall Street,A New York stockbroker refuses to cooperate in...,97.444,/34m2tygAYBGqA9MXKhRDtzYd4MR.jpg,Earn. Spend. Party.,"Crime, Drama, Comedy","EMJAG Productions, Red Granite Pictures, Appia...",United States of America,"English, French"
23,99861,Avengers: Age of Ultron,7.276,21754,Released,2015-04-22,1405403694,141,False,/6YwkGolwdOMNpbTOmLjoehlVWs5.jpg,...,en,Avengers: Age of Ultron,When Tony Stark tries to jumpstart a dormant p...,96.565,/4ssDuvEDkSArWEdyBl2X5EHvYKU.jpg,A new age has come.,"Action, Adventure, Science Fiction",Marvel Studios,United States of America,English
26,68721,Iron Man 3,6.928,21064,Released,2013-04-18,1215577205,130,False,/aFTYFqrWp4RS46Twm87l5e0ItYb.jpg,...,en,Iron Man 3,When Tony Stark's world is torn apart by a for...,61.060,/qhPtAc1TKbMPqNvcdXSOn9Bn7hZ.jpg,Unleash the power behind the armor.,"Action, Adventure, Science Fiction",Marvel Studios,United States of America,English
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1006777,684290,Happy Little Submarine: Magic Box of Time,0.000,0,Released,2015-05-29,8107623,80,False,NaN,...,zh,Qian ting zong dong yuan 5: shi guang bao he,Happy Little Submarine Magic Box of Time is a ...,0.600,/klhHM1jmafxI1pBy5ojMGPOjrwa.jpg,NaN,Animation,Shenzhen GDC Entertainment Co.,China,Mandarin
1007841,680471,Kuru Kuru and Friends: The Secrets of the Rain...,0.000,0,Released,2015-11-19,34393,74,False,/zrjynqHbHRIA1UCgJZQE6jYDPJO.jpg,...,ko,꾸루꾸루와 친구들: 무지개 나무의 비밀,The movie takes place between Seasons 1 and 2....,1.137,/xCDT7P3ckMOWOLnNL9FoDt8wKkB.jpg,NaN,"Animation, Adventure, Fantasy, Action, Family","Ffango Entertoyment, KBS Media, Pango, Ltd., P...",South Korea,Korean
1008040,680570,1320 video - Texas Streets 2013,0.000,0,Released,2013-03-15,100,106,False,NaN,...,en,Texas Streets 2013,Each year in the spring there is a phenomenon ...,0.600,/csCfFcZ3xQn95K55gKcQW0eSofA.jpg,1320 video - Texas Streets 2013,"Documentary, Action",NaN,NaN,English
1008201,681934,Metal Down Under,0.000,0,Released,2014-08-22,10585,165,False,NaN,...,en,Metal Down Under,Since the late 1970's a thriving underground s...,0.600,/niDV7JnMGEO8wMkZHpHkhhpfiiW.jpg,NaN,Documentary,Animus Industries,Australia,English
1010536,664834,Cumbia la reina,0.000,0,Released,2015-05-27,100000,75,False,/ffvOCv9uYiQgb9mquhHr8wdMunx.jpg,...,es,Cumbia la reina,"A documentary about cumbia from Argentina, fro...",0.600,/h1tJKIQtEPcazCH88NHmKicRDJu.jpg,Cumbia's story from early years to recent years.,"Documentary, Music",La Granja Cine,Argentina,Spanish

In [44]:
raw_movie_details_2013_2015 = extract_raw_movie_details(movie_id_2013_2015, "raw_movie_details_27.ndjson")

# Clean Details

In [9]:
def clean_movie_details(movies): #Input is in json
    selected_columns = ['budget', 'imdb_id', 'original_language', 'original_title', 'release_date',
                    'revenue', 'runtime', 'status']
    
    final_data = {
    'movie_id': [],
    'original_title': [],
    'original_language': [],
    'imdb_id': [],
    'revenue': [],
    'budget': [],
    'release_date': [],
    'runtime': [],
    'status': [],
    'production_companies_count': [],
    'is_adult': [],
    'is_adaptation': [],
    'genres': [],
    'collection_id': [],
    'cast1_id': [],
    'cast2_id': [],
    'director_id': [],
    'producer_id': [],
    'video_key_id': [],
    'tmdb_popularity': [],
    'tmdb_vote_average': [],
    'tmdb_vote_count': []
    }
    
    for row in movies.iterrows():
        # Release_dates OK
        is_released_in_cinema = 0
        is_continue = True
        try:
            if not pd.isna(row['release_dates']):
                for release in row['release_dates']['results']:
                    if is_continue:
                        for date in (release["release_dates"]):
                            if date['type'] == 3:
                                is_released_in_cinema = 1
                                is_continue = False
                                break
                            else:
                                continue
                    else:
                        break
        except:
            continue
        
        if is_released_in_cinema == 0:
            continue #skip this movie
            
        final_data['movie_id'].append(row['id'])
        final_data['is_adult'].append(0 if row['adult'] == False else 1)
        final_data['tmdb_popularity'].append(row['popularity'])
        final_data['tmdb_vote_average'].append(row['vote_average'])
        final_data['tmdb_vote_count'].append(row['vote_count'])
        
        for col in selected_columns:
            final_data[col].append(row[col])
        
        # Collection OK
        final_data['collection_id'].append(None if pd.isna(row['belongs_to_collection']) else row['belongs_to_collection']['id'])
        
        # Production Companies Count OK
        final_data['production_companies_count'].append(len((row['production_companies'])))
        
        # Genres OK
        genre_lst = [i['name']for i in row['genres']]
        final_data['genres'].append(None if len(genre_lst) == 0 else genre_lst)
        
        # Cast OK
        num_of_cast = len(row['credits']['cast'])
        credit_cast = (row['credits']['cast'])
        if num_of_cast >= 2:
            final_data['cast1_id'].append(str(credit_cast[0]['id']))
            final_data['cast2_id'].append(str(credit_cast[1]['id']))
        elif num_of_cast == 1:
            final_data['cast1_id'].append(str(credit_cast[0]['id']))                
            final_data['cast2_id'].append(None)
        else:                   
            final_data['cast1_id'].append(None)
            final_data['cast2_id'].append(None)
        
        # Crews OK
        director_id = None
        producer_id = None
        for job in (row['credits']['crew']):
            if job['job'] == 'Director':
                director_id = str(job['id'])
            elif job['job'] == 'Producer':
                producer_id = str(job['id'])

        final_data['director_id'].append(director_id)
        final_data['producer_id'].append(producer_id)
                
        # Videos #empty list
        video_key_id = []
        if len(row['videos']['results']) > 0:
            for video in (row['videos']['results']):
                if video['type'] == "Trailer" or  video['type'] == "site" or  video['type'] == "Youtube":
                        video_key_id.append(video['key'])
                else:
                    continue
            final_data['video_key_id'].append(video_key_id) 
        else:
            final_data['video_key_id'].append(None)
            
        # Keywords OK
        if len(row['keywords']['keywords']) > 0:
            keyword_lst = [i['name']for i in (row['keywords']['keywords'])]
            contains_based_on = any('based on' in (item).lower() for item in keyword_lst)
            final_data['is_adaptation'].append(1 if contains_based_on == True else 0)
        else:
            final_data['is_adaptation'].append(0)
            
        
#     print(final_data)
    final_df = pd.DataFrame(final_data)
    
    # Change language to its full form
    lang_url = 'https://api.themoviedb.org/3/configuration/languages'
    headers = {
        "accept": "application/json",
        "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI5ODJmYTNkYWU1OGY4Y2U1ZmU2M2Q1NmI5Njk2ZDk2MCIsInN1YiI6IjY1ZmQ1ZjRlMjI2YzU2MDE2NDZlZGU2NCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.9KniXks8_611yzqRn1AsGD6mKOhtD2bJ6twLrH8FoUo"
        }
    
    # Change language to its full form
    lang_response = requests.get(lang_url, headers=headers)
    lang_dict = json.loads(lang_response.text)
    lang_df = pd.DataFrame.from_dict(lang_dict)
    final_df = pd.merge(final_df, lang_df[['iso_639_1', 'english_name']], left_on='original_language', right_on='iso_639_1', how='left')
    
    # Drop 'original_language', 'iso_639_1'
    final_df = final_df.drop(columns=['original_language', 'iso_639_1'])
    # Rename english_name to original_language
    final_df = final_df.rename(columns={'english_name': 'original_language'})
    
    # Remove rows that don't have revenue information
    final_df = final_df[final_df['revenue'] > 0]
    
    return final_df

In [8]:
# Read ndjson file
files = glob.glob("./raw_movie_details_*.ndjson")
final_df = pd.DataFrame()
for file in files:
    with open(file, "r") as json_file:
        df = ndjson.load(json_file)
        df_1 = clean_movie_details(df)
        final_df = pd.concat([final_df, df_1], ignore_index=True)

In [15]:
#Check length
len(final_df)

4869

In [10]:
final_df.head()

,movie_id,original_title,imdb_id,revenue,budget,release_date,runtime,status,production_companies_count,is_adult,...,collection_id,cast1_id,cast2_id,director_id,producer_id,video_key_id,tmdb_popularity,tmdb_vote_average,tmdb_vote_count,original_language
0,655431,PSYCHO-PASS サイコパス 3 FIRST INSPECTOR,tt11433874,757096,0,2020-03-27,137,Released,1,0,...,NaN,9705,9721,230642,None,[NFZ_khcRCc4],19.792,7.6,83,Japanese
1,491926,Resistance,tt6914122,449753,0,2020-03-27,120,Released,9,0,...,NaN,44735,228,57454,2647742,[B48hwisZvEI],19.841,7.0,402,English
2,692005,Gondi,tt10122618,11400,20000,2020-03-20,112,Released,1,0,...,NaN,128709,2037359,1856426,None,None,0.600,0.0,0,Bengali
3,707560,El Filibusterismo,None,15,10,2020-03-16,47,Released,1,0,...,NaN,2650110,2650111,2650146,None,None,0.600,7.5,2,English
4,689361,Moondance,tt9125394,2371,0,2020-03-13,97,Released,2,0,...,NaN,1169454,2589570,3129456,1362160,None,1.102,0.0,0,English

In [11]:
final_df.to_csv('./clean_movie_details.csv', index = False)

# People

In [5]:
movies = pd.read_csv('./clean_movie_details.csv')

cast1_id = movies['cast1_id'].dropna().tolist()
cast2_id = movies['cast2_id'].dropna().tolist()
director_id = movies['director_id'].dropna().tolist()
producer_id = movies['producer_id'].dropna().tolist()
people_id_lst = sorted(set(cast1_id + cast2_id + director_id + producer_id)) #remove duplicate

In [7]:
movies

,movie_id,original_title,imdb_id,revenue,budget,release_date,runtime,status,production_companies_count,is_adult,...,collection_id,cast1_id,cast2_id,director_id,producer_id,video_key_id,tmdb_popularity,tmdb_vote_average,tmdb_vote_count,original_language
0,655431,PSYCHO-PASS サイコパス 3 FIRST INSPECTOR,tt11433874,757096,0,2020-03-27,137,Released,1,0,...,NaN,9705.0,9721.0,230642.0,NaN,['NFZ_khcRCc4__5e84fcf9e38bd80011ac44aa'],19.792,7.6,83,Japanese
1,491926,Resistance,tt6914122,449753,0,2020-03-27,120,Released,9,0,...,NaN,44735.0,228.0,57454.0,2647742.0,['B48hwisZvEI__5e3eb96e41465c0014c95201'],19.841,7.0,402,English
2,692005,Gondi,tt10122618,11400,20000,2020-03-20,112,Released,1,0,...,NaN,128709.0,2037359.0,1856426.0,NaN,NaN,0.600,0.0,0,Bengali
3,707560,El Filibusterismo,NaN,15,10,2020-03-16,47,Released,1,0,...,NaN,2650110.0,2650111.0,2650146.0,NaN,NaN,0.600,7.5,2,English
4,689361,Moondance,tt9125394,2371,0,2020-03-13,97,Released,2,0,...,NaN,1169454.0,2589570.0,3129456.0,1362160.0,NaN,1.102,0.0,0,English
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4864,663637,El Gran Vairitosky,tt4035766,30000,30000,2014-09-11,15,Released,1,0,...,NaN,2509399.0,2509401.0,2509402.0,NaN,['p75klovE1RY__5e47e1a72d93750015a600b1'],0.600,0.0,0,Spanish
4865,684290,Qian ting zong dong yuan 5: shi guang bao he,tt4838278,8107623,0,2015-05-29,80,Released,1,0,...,NaN,2264326.0,2264327.0,2570312.0,NaN,NaN,0.600,0.0,0,Mandarin
4866,680471,꾸루꾸루와 친구들: 무지개 나무의 비밀,tt6448112,34393,0,2015-11-19,74,Released,4,0,...,NaN,2083363.0,3163181.0,NaN,NaN,NaN,1.999,0.0,0,Korean
4867,680570,Texas Streets 2013,NaN,100,12,2013-03-15,106,Released,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.600,0.0,0,English
4868,664834,Cumbia la reina,tt4590218,100000,100000,2015-05-27,75,Released,1,0,...,NaN,2513462.0,2513463.0,2513466.0,2198770.0,NaN,0.600,0.0,0,Spanish

In [4]:
movies['movie_id'].duplicated().any()

False

In [6]:
len(people_id_lst)

12055

In [7]:
def extract_people(people_ids, file_path):
    headers = {
        "accept": "application/json",
        "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI5ODJmYTNkYWU1OGY4Y2U1ZmU2M2Q1NmI5Njk2ZDk2MCIsInN1YiI6IjY1ZmQ1ZjRlMjI2YzU2MDE2NDZlZGU2NCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.9KniXks8_611yzqRn1AsGD6mKOhtD2bJ6twLrH8FoUo"
        }
    
    people_info = pd.DataFrame()
    
    name_lst = []
    bir_lst = []
    gender_lst = []
    pop = []
    cast_credits = []
    crew_credits = []
    known = []
    ids = []
    delay = 2
    i = 0
    final_df = []
    while i < len(people_ids):   
        try:                
            # Make the request
            sleep(0.02)
            id_ = str(int(people_ids[i]))
            ids.append(id_)
            url = f"https://api.themoviedb.org/3/person/{id_}?append_to_response=movie_credits&language=en-US"
            response = requests.get(url, headers=headers)
            data = json.loads(response.text)
            
            final_df.append(data)
            try:
                name = data['name']
            except KeyError:
                name = None
            name_lst.append(name)
            try:
                birthday = data['birthday']
            except KeyError:
                birthday = None
            bir_lst.append(birthday)
            try:
                gender = data['gender']
            except KeyError:
                gender = None
            gender_lst.append(gender)
            try:
                tmdb_popularity = data['popularity']
            except KeyError:
                tmdb_popularity = None
            pop.append(tmdb_popularity)
            try:
                known_for = data['known_for_department']
            except KeyError:
                known_for = None
            known.append(known_for)
            # Number of credits
            try:
                cast_num = len(data['movie_credits']["cast"])
            except KeyError:
                cast_num = 0
            cast_credits.append(cast_num)
            try:
                crew_num = len(data['movie_credits']["crew"])
            except KeyError:
                crew_num = 0
            crew_credits.append(crew_num)
            i += 1
        except OSError as e:
            # Delay for a certain amount of time before making the request again
            # so that the server isn't overloaded
            sleep(delay)
            delay *= 2
    
    people_info['people_id'] = ids
    people_info['name'] = name_lst
    people_info['birthday'] = bir_lst
    people_info['gender'] = gender_lst
    people_info['tmdb_popularity'] = pop
    people_info['known_for'] = known
    people_info['total_number_cast_credits'] = cast_credits
    people_info['total_number_crew_credits'] = crew_credits
    with open(file_path, 'w') as ndjson_file:
        ndjson_file.write('\n'.join(map(json.dumps, final_df)))
    
    return people_info

In [15]:
def clean_people(people_ids):
    people_info = pd.DataFrame()
    
    name_lst = []
    bir_lst = []
    gender_lst = []
    pop = []
    cast_credits = []
    crew_credits = []
    known = []
    ids = []
    
    for row in people_ids:
        # Make the request
        id_ = str(int(row['id']))
        ids.append(id_)

        try:
            name = row['name']
        except KeyError:
            name = None
        name_lst.append(name)
        try:
            birthday = row['birthday']
        except KeyError:
            birthday = None
        bir_lst.append(birthday)
        try:
            gender = row['gender']
        except KeyError:
            gender = None
        gender_lst.append(gender)
        try:
            tmdb_popularity = row['popularity']
        except KeyError:
            tmdb_popularity = None
        pop.append(tmdb_popularity)
        try:
            known_for = row['known_for_department']
        except KeyError:
            known_for = None
        known.append(known_for)
        # Number of credits
        try:
            cast_num = len(row['movie_credits']["cast"])
        except KeyError:
            cast_num = 0
        cast_credits.append(cast_num)
        try:
            crew_num = len(row['movie_credits']["crew"])
        except KeyError:
            crew_num = 0
        crew_credits.append(crew_num)

    people_info['people_id'] = ids
    people_info['name'] = name_lst
    people_info['birthday'] = bir_lst
    people_info['gender'] = gender_lst
    people_info['tmdb_popularity'] = pop
    people_info['known_for'] = known
    people_info['total_number_cast_credits'] = cast_credits
    people_info['total_number_crew_credits'] = crew_credits
    
    return people_info

In [16]:
# Read ndjson file
files = glob.glob("./raw_people_[0-9].ndjson")
final_df = pd.DataFrame()
for file in files:
    with open(file, "r") as json_file:
        df = ndjson.load(json_file)
        df_1 = clean_people(df)
        final_df = pd.concat([final_df, df_1], ignore_index=True)

In [19]:
# Check if there is any duplicate value in people_id
print("Duplicate value in people_id", final_df['people_id'].duplicated().any())

#Check null values
final_df.isna().sum()

Duplicate value in people_id False

people_id                       0
name                            0
birthday                     4912
gender                          0
tmdb_popularity                 0
known_for                       0
total_number_cast_credits       0
total_number_crew_credits       0
dtype: int64

In [15]:
people_info_1000 = extract_people(people_id_lst[:1000],'./raw_people_1.ndjson')

In [16]:
people_info_2000 = extract_people(people_id_lst[1000:2000], './raw_people_2.ndjson')

In [ ]:
people_info_5000 = extract_people(people_id_lst[2000:5000], './raw_people_3.ndjson')
people_info_7500 = extract_people(people_id_lst[5000:7500], './raw_people_4.ndjson')
people_info_10000 = extract_people(people_id_lst[7500:10000], './raw_people_5.ndjson')

In [ ]:
people_info_12000 = extract_people(people_id_lst[10000:], './raw_people_6.ndjson')

In [2]:
people_info = pd.read_csv('./people_info.csv')
people_info

,people_id,name,birthday,gender,tmdb_popularity,known_for,total_number_cast_credits,total_number_crew_credits
0,2,Mark Hamill,1951-09-25,2,14.760,Acting,184,3
1,3,Harrison Ford,1942-07-13,2,14.760,Acting,74,3
2,4,Carrie Fisher,1956-10-21,1,14.760,Acting,105,8
3,7,Andrew Stanton,1965-12-03,2,14.760,Writing,25,58
4,8,Lee Unkrich,1967-08-08,2,4.586,Directing,10,26
...,...,...,...,...,...,...,...,...
12050,4582421,Gianni Cammareri,NaN,0,0.600,Acting,1,0
12051,4582423,Emily d'Augelli,NaN,0,0.600,Acting,2,0
12052,4584492,Dandan Ge,NaN,1,0.600,Production,0,1
12053,4601164,Kazuha Okuda,NaN,0,0.600,Production,0,1
12054,4610310,Johan Archiles,1997-12-11,2,0.600,Acting,1,1

In [20]:
final_df.to_csv('./people_info.csv', index = False)